@use '../sassStyles/variables' as *;
@use '../sassStyles/mixins' as *;

.main-content {
    min-width: 600px;
    max-width: 1200px;
    width: 100%;
    background-color: #fff;
    @include border-2px-light-grey;

    h6 {
        @include h6-white-centered;
        text-align: start;
    }

    a {
        color: $warning-text;
    }

    .tutorial-wrapper {
        display: flex;

        img {
            width: 80px;
        }

        .paragraphs-wrapper {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

    }

}