.main-content{
    background-color: #fff;
    border: 2px solid lightgrey;
    min-width: 600px;
    
}

img {
    width: 80px;
}

.tutorial-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.paragraphs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}