@use '../sassStyles/variables' as *;
@use '../sassStyles/mixins' as *;

.right-aside {
    background-color: $white-background;
    @include border-2px-light-grey;

    .section-button-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        li {
            border: none;

            a {
                color: $warning-text;
            }
        }
    }

    section {
        @include border-2px-light-grey;

        h6 {
            @include h6-white-centered;
        }

        .search-bar {
            @include border-2px-light-grey;
            display: flex;
            padding: 10px;
            gap: 10px;
            justify-content: center;
        }

        nav ul li {

            @include li-centered-bordered;

            a {
                color: $warning-text;
            }
        }

        section {
            @include border-2px-light-grey;

            li {
                @include li-centered-bordered;

                a {
                    color: $warning-text;
                }
            }
        }
    }

    .ads {

        h6 {
            @include h6-white-centered;
        }

        ul {

            li {
                @include li-centered-bordered;

                a {
                    color: $warning-text;
                }
            }
        }
    }
}