@use '../sassStyles/variables' as *;

@mixin centered-text{

    text-align: center;
    
} 

@mixin border-2px-light-grey {
    border: 2px solid lightgrey;

}

@mixin li-centered-bordered {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    @include border-2px-light-grey()

}

@mixin border-1px-blue {
    border: 1px solid #1A66B2; 
}
