@use '../sassStyles/variables' as *;
@mixin white-14px {
    color: white;
    font-size: 14px;
}

@mixin centered-text{

    text-align: center;
    
} 

@mixin border-2px-ltgrey {
    border: 2px solid lightgrey;

}

@mixin li-centered-bordered {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    @include border-2px-ltgrey()

}

@mixin h6-white-centered {
    background-color: $main-background;
    text-align: center;
    @include white-14px();
    @include border-2px-ltgrey()
}

@mixin border-1px-blue {
    border: 1px solid #1A66B2; 
}
